@{
    ViewBag.Title = "Home Page";
}

<h1>SportsPro Technical Support</h1>
<h2>Sports management software for the sports enthusiast</h2>
<br />

<h3>Admin</h3>
<div><a asp-controller="Product" asp-action="List">Manage Products</a></div>
<div><a asp-controller="Technician" asp-action="">Manage Technicians</a></div>
<div><a asp-controller="Customer" asp-action="">Manage Customers</a></div>
<div><a asp-controller="Incident" asp-action="">Manage Incidents</a></div>
<div><a asp-controller="" asp-action="">Manage Registrations</a></div>
<br />

<h3>Technicians</h3>
<div><a asp-controller="" asp-action="">Update Incidents</a></div>