@model Product
@{
    ViewBag.Title = "Add/Edit Page";
}

<form asp-controller="Product" asp-action="Edit" method="post">
    <div class="col-md-4">
        <label asp-for="Code" class="form-label">Code</label>
        <input asp-for="Code" class="form-control"/>
        <span asp-validation-for="Code"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Name" class="form-label">Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <span class="input-group-text">0.00</span>
            <input asp-for="Price" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        </div>
    </div>
    <div class="col-md-4">
        <label asp-for="ReleaseDate" class="form-label">Released Date</label>
        <input asp-for="ReleaseDate" class="form-control" type="date" min="@DateTime.Today" required>
    </div>
    <input type="hidden" asp-for="ProductId" />
    <br />
    <div class="col-md-7">
        <button class="btn btn-primary" type="submit">@ViewBag.Action</button>
    </div>
</form> 