@model Customer
@{
    ViewBag.Title = "Delete";
}
<div class="container pb-10">
    <div class="row align-center justify-content-center text-center py-5">
        <div class="col col-12 col-md-8">
            <h2 class="text-dark">Deleting Customer</h2>
            <p class="lead font-weight-lighter text-muted">Are you sure you want to delete @ViewBag.Customer</p>    
            <form asp-action="Delete" method="post" class="border">
                <div>
                    <button type="submit">Delete</button>
                    <a asp-action="List">No</a>
                </div>
            </form>
        </div>
    </div>
</div>