@model Customer
@{
    ViewBag.Title = "Add/Edit Page";
}

<form asp-action="Edit" method="post" class="border">
    <div>
        <label asp-for="Firstname">Firstname</label>
        <input asp-for="Firstname" />
    </div>
    <div>
        <label asp-for="Lastname">Lastname</label>
        <input asp-for="Lastname" />
    </div>
    <div>
        <label asp-for="Address">Address</label>
        <input asp-for="Address" />
    </div>
    <div>
        <label asp-for="City">City</label>
    </div>
    <div>
        <label asp-for="State">State</label>
        <input asp-for="State" />
    </div>
    <div>
        <label asp-for="Postalcode">Postal Code</label>
        <input asp-for="Postalcode" />
    </div>
    <div>
        <select asp-for="Country" asp-items="Model.Country.Countries"></select>
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" />
        <button type="submit">Submit</button>
        <a asp-action="List">Cancel</a>
    </div>
</form>