@model Customer

@{
    ViewBag.Title = "Add/Edit Page";
}

<form asp-controller="Customer" asp-action="Edit" method="post" class="border">
    <div>
        <label asp-for="Firstname">Firstname</label>
        <input asp-for="Firstname" />
    </div>
    <div>
        <label asp-for="Lastname">Lastname</label>
        <input asp-for="Lastname" />
    </div>
    <div>
        <label asp-for="Address">Address</label>
        <input asp-for="Address" />
    </div>
    <div>
        <label asp-for="City">City</label>
        <input asp-for="City" />
    </div>
    <div>
        <label asp-for="State">State</label>
        <input asp-for="State" />
    </div>
    <div>
        <label asp-for="Postalcode">Postal Code</label>
        <input asp-for="Postalcode" />
    </div>
    <div>
        @if (ViewBag.CountryList == null)
        {
            @Html.DropDownListFor(model => model.CountryId, ViewBag.CountryList 
           as SelectList, "--Select Country--", new { @class="form-control"})
        }
        <label asp-for="CountryId"></label>
        <select asp-for="CountryId" ></select>
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
    </div>
    <input type="hidden" asp-for="CustomerId" />
    <div>
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" />
        <button type="submit">@ViewBag.Action</button>
        <a asp-action="List">Cancel</a>
    </div>
</form>