@model Registration
@{ ViewBag.Title = "Registrations"; 
    }
<br />
<br />
<h2></h2>


<div class="container pb-10">
    <div class="col col-12 col-md-8">
        <h2 class="text-dark">Customer: @ViewBag.Customer.Firstname @ViewBag.Customer.Lastname</h2>
        <h4>Registrations</h4>
        <br />
        <div class="input-group mb-3">
            <table class="table col-6 align-center">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product product in ViewBag.Registrations.products)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td class="align-content-">
                                <a class="btn btn-danger" asp-controller="Registration" asp-action="Delete" asp-route-id="@product.ProductId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <h2>Products: </h2>
        <form>
            <div class="col-md-12">
                <div class="input-group mb-6">
                    <label class="input-group-text">Choose Product:</label>
                    <select asp-for="products" id="products" name="products" class="form-select" asp-items="ViewBag.ProudctId">
                        <option selected>--  Select Product  --</option>
                    </select>
                </div>
            </div>
        </form>
    </div>